h3{
	margin: 0 auto;
	color: magenta;
	max-width: 400px;
	text-align: center;
	padding: 40px;
}

.initial-grid{
	min-height: 400px;
	min-width: 400px;
}

.button-new-board{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-bottom: 40px;
}

.row{
	height: 40px;
	text-align: center;
	width: auto;
}

.row#row-header{
	padding-bottom: 10px;

}
.row#row-header > .square{
	border: none;
	text-align: center;
	padding: 0 1px;
	color: black;
}

.square{
	width: 40px;
	min-height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	color: red;
	border: 1px solid black;
}

.square#square-header{
	border: none;
	color: black;
}